body{background-color: #002b36;width:100vw;height:100vh;margin:0px;padding:0px;}
div.input-group>select.custom-select{flex: 0.1 1 100px;}
#advancedOptionsCollapsableDiv{background-color:transparent !important;border:0px !important;}
.card{background-color:transparent !important;border:0px !important;}
hr{border-top:1px solid transparent;}
#history-table{font-size:13px;}
.centeredForm{margin:0 auto;}
.hidden{display:none;}
.significantLeftMargin{margin-left:20px !important;}
#parentDiv{width:100vw;height:100vh;display:flex;flex-direction:column;}
#parentDiv .container{height:100vh;flex-grow:1;}
.hr-light{background-color:white;}
#addSubscription{display:inline;}
#deleteSubscription{display:none;}
#subscriptions-table{font-size:13px;}
.togglePageViewSelection{display:none;}
.adminTable{font-size:13px;}
.noMargins{margin:0 !important;}
.loginFormWrapper{display:flex;align-items:center;flex-direction:column;justify-content:center;width:100%;min-height:100%;padding:20px;} /*https://bootsnipp.com/snippets/dldxB*/
#loginFormParent{-webkit-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;background:#ffffff;padding:30px;width:90%;max-width:450px;position:relative;padding:0px;-webkit-box-shadow:0 30px 60px 0 rgba(0,0,0,0.3);box-shadow:0 30px 60px 0 rgba(0,0,0,0.3);text-align:center;} /*https://bootsnipp.com/snippets/dldxB*/
#loginFormChildFooter{background-color:#f6f6f6;border-top:1px solid #dce8f1;padding:25px;text-align:center;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;} /*https://bootsnipp.com/snippets/dldxB*/
.loginPageSubmit{cursor:grab;background-color:#495f75;border:none;color:white;padding:15px 80px;text-align:center;text-decoration:none;display:inline-block;text-transform:uppercase;font-size:13px;-webkit-box-shadow:0 5px 10px 0 #495f75;box-shadow:0 5px 10px 0 #495f75;-webkit-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;margin:5px 20px 40px 20px;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;} /*https://bootsnipp.com/snippets/dldxB*/
.loginPageEntry{background-color: #f6f6f6;border:none;color: #0d0d0d;padding:4px 4px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;margin:5px;width:70%;border:2px solid #f6f6f6;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;-webkit-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;} /*https://bootsnipp.com/snippets/dldxB*/
#loginForm:first-child{margin-top:40px;}
.loginFormMargin{margin-top:30px !important;}
#loginFormImage{width:64px;height:auto;}