{% extends 'layout.html' %}
{% block body %}
<div class = 'container d-flex flex-column text-light text-center'>
    <div class = 'flex-grow-1'></div>
    <div class = 'jumbotron bg-transparent flex-grow-1'>
        <h1 class = 'display-4'>administrator settings</h1>
        <p class = 'lead'>You can change the settings for your youtube-dl-server installation here. This is where you manage/add/delete users, as well as edit the server configuration.</p>
        <hr class = 'my-4 hr-light'>
        <div class = 'd-flex justify-content-center row m-0'>
            <button onclick = 'changeVisibleAdminAction(0);' class = 'btn btn-info m-3'>Delete/Create a User</button>
            <button onclick = 'changeVisibleAdminAction(1);' class = 'btn btn-info m-3'>Edit App Settings</button>
        </div>
        <div id = 'editCreateUser' class = 'togglePageViewSelection'>
            <div>
                <table class = 'table-responsive-xl table table-bordered overflow-auto' id = 'history-table'>
                    <thead>
                        <tr>
                            <th scope = 'col'>Username</th>
                            <th scope = 'col'>Is Admin</th>
                            <th scole = 'col'>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in userData %}
                            <tr>
                                <td scope = row>{{ user[0] }}</td>
                                <td>{{ user[1] }}</td>
                                <td>
                                    <form action = "{{ url_for('WEB_DELETEUSER') }}" method = 'POST'>
                                        <input value = '{{ user[0] }}' name = 'username' class = 'hidden'>
                                        <button class = 'btn btn-danger' type = 'submit' id = 'button-submit'>Delete User</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <form form action = "{{ url_for('WEB_ADDUSER') }}" method = 'POST' autocomplete = 'off'>
                <div class = 'input-group d-flex justify-content-center'>
                    <input name = 'new_username' type = 'text' class = 'form-control col-lg-3 rounded' placeholder = 'New account username'>
                    <input name = 'new_password' type = 'password' class = 'form-control col-lg-3 rounded significantLeftMargin' placeholder = 'New account password'>
                    <input name = 'new_password_confirm' type = 'password' class = 'form-control col-lg-3 rounded significantLeftMargin' placeholder = 'Confirm new account password'>
                    <button class = 'btn btn-primary significantLeftMargin' type = 'submit' id = 'button-submit'>Create new user</button>
                </div>
            </form>
        </div>
        <div id = 'editAppSettings' class = 'togglePageViewSelection'>
            <div class = 'row justify-content-center'>
                <form action = "{{ url_for('WEB_ADMINACTION') }}" method = 'POST' class = 'col-lg-12'>
                    <p>Current default download directory: <code>{{ default_download_dir }}</code></p>
                    <div class = 'input-group'>
                        <input name = 'default_download_dir' type = 'text' class = 'form-control' placeholder = 'New default download directory' aria-describedby = 'button-submit'>
                        <div class = 'input-group-append'>
                            <button class = 'btn btn-primary' type = 'submit' id = 'button-submit'>Update</button>
                        </div>
                    </div>
                    <input class = 'hidden' name = 'action_type' value = 'add_default_download_dir'>
                </form>
            </div>
            <hr class = 'my-4'>
            <div class = 'row justify-content-center'>
                <form action = "{{ url_for('WEB_ADMINACTION') }}" method = 'POST' class = 'col-lg-12'>
                    <p>Add a new alternate download directory</p>
                    <div class = 'input-group'>
                        <input name = 'new_download_dir' type = 'text' class = 'form-control' placeholder = 'New alternate download directory' aria-describedby = 'button-submit'>
                        <div class = 'input-group-append'>
                            <button class = 'btn btn-primary' type = 'submit' id = 'button-submit'>Add</button>
                        </div>
                    </div>
                    <input class = 'hidden' name = 'action_type' value = 'add_alt_download_dir'>
                </form>
            </div>
            <!--
            <hr class = 'my-4'>
            <table class = 'table-responsive-xl table-bordered table overflow-auto' id = 'subscriptions-table'>
                <tr>
                    <th scope = 'col'>Download Directory</th>
                    <th></th>
                </tr>
                {% for dir in downloadDirs %}
                    <tr>
                        <td>{{ dir }}</td>
                        <td>
                            <form action = "{{ url_for('WEB_ADMINACTION') }}" method = 'POST'>
                                <input value = 'delete' name = 'action_type' class = 'hidden'>
                                <input value = '{{ dir }}' name = 'download_dir_path' class = 'hidden'>
                                <button class = 'btn btn-danger significantLeftMargin' type = 'submit'>Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            -->
        </div>
    </div>
    <footer>
    <div>
        <p class = 'text-muted'>
            Web frontend for <a class = 'text-light' href = 'https://rg3.github.io/youtube-dl/'>youtube-dl</a>, by <a class = 'text-light' href = 'https://twitter.com/manbearwiz'>@manbearwiz</a>, and modified by <a class = 'text-light' href = 'https://github.com/katznboyz1'>@katznboyz</a>.<br>
        </p>
    </div>
    </footer>
</div>
<script>
    //the list of the subscription actions
    adminActions = ['editCreateUser', 'editAppSettings'];

    //the function to change what subscription action is visible
    function changeVisibleAdminAction(index) {

        //iterate through the subscription actions
        for (action in adminActions) {
            
            //if the subscription action doesnt equal the index (the current action that is being shown) then set the display to none
            if (action != index) {
                document.getElementById(adminActions[action]).style.display = 'none';

            //the subscription index equals the action, so make the display inline
            } else {
                document.getElementById(adminActions[action]).style.display = 'inline';
            }
        }

    }

    //call the function to load the content initially (load the first element)
    changeVisibleAdminAction(0);
</script>
{% endblock %}