{% extends 'layout.html' %}
{% block body %}
<div class = 'container d-flex flex-column text-light text-center'>
    <div class = 'flex-grow-1'></div>
    <div class = 'jumbotron bg-transparent flex-grow-1'>
    <h1 class = 'display-4'>error!</h1>
    <p class = 'lead'>For some reason, there was an error while downloading the video from that URL! Please check that the URL you are trying to download with is a valid URL, and that you have internet connection. <a class = 'text-info' href = "{{ url_for('WEB_INDEX')}}">Click here to go home.</a></p>
    </div>
    <footer>
    <div>
        <p class = 'text-muted'>
            Web frontend for <a class = 'text-light' href = 'https://rg3.github.io/youtube-dl/'>youtube-dl</a>, by <a class = 'text-light' href = 'https://twitter.com/manbearwiz'>@manbearwiz</a>, and modified by <a class = 'text-light' href = 'https://github.com/katznboyz1'>@katznboyz</a>.<br>
            <a class = 'text-light' href = "{{ url_for('WEB_INDEX') }}">(HOME)</a> - <a class = 'text-light' href = "{{ url_for('WEB_HISTORY') }}">(HISTORY)</a>
        </p>
    </div>
    </footer>
</div>
{% endblock %}