{% extends 'layout.html' %}
{% block body %}
<div class = 'flex-column text-light text-center'>
    <div class = 'table-responsive-xl'>
        <table class = 'table-responsive-xl table overflow-auto' id = 'history-table'>
            <thead class = 'thead-dark'>
                <tr>
                    <th scope = 'col'>Download Title</th>
                    <th scope = 'col'>Download Link</th>
                    <th scope = 'col'>Download Status</th>
                    <th scope = 'col'>Time Download Added to Queue</th>
                    <th scope = 'col'>Download Format</th>
                    <th scope = 'col'>Download Path</th>
                </tr>
            </thead>
            <tbody id = 'historyTableRowParent'>
                <!--this is the only part of the website that is no longer generated server side, as its all handled through client side api requests-->
                <!--{% for row in databaseData %}
                    <tr id = 'row_{{ row[0] }}'>
                        <td scope = 'row'>{{ row[1] }}</td>
                        <td><a href = '{{ row[2] }}'>{{ row[2] }}</a></td>
                        <td class = '{{ row[7] }}'>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                    </tr>
                {% endfor %}-->
            </tbody>
        </table>
    </div>
    <hr class = 'my-4'>
    <footer>
    <div>
        <p class = 'text-muted'>
            Web frontend for <a class = 'text-light' href = 'https://rg3.github.io/youtube-dl/'>youtube-dl</a>, by <a class = 'text-light' href = 'https://twitter.com/manbearwiz'>@manbearwiz</a>, and modified by <a class = 'text-light' href = 'https://github.com/katznboyz1'>@katznboyz</a>.<br>
        </p>
    </div>
    </footer>
</div>
<script>
    //the text statuses for the download status ids
    const DOWNLOAD_STATUSES = {
        1:'Download Pending',
        2:'Downloading Now',
        3:'Downloaded',
        4:'Download Failed'
    };

    //the color class statuses for the download status ids
    const DOWNLOAD_STATUS_COLOR_CLASSES = {
        1:'text-warning',
        2:'text-success',
        3:'text-info',
        4:'text-danger'
    };

    //the function to update the rows of the table with fresh new data from the api
    function refreshHistory() {

        //get the data from the api
        const API_DATA_RAW = $.ajax({
            'url':'/history/.json', //the url where the request is being made (the api for the history page)
            'type':'POST', //the type of request that is being made (POST)
            'success':function (response) { //the function that will be called once the request is successful
                
                //the rows of the database that have been dumped
                const HISTORY_TABLE_ROWS = response['rows'];

                //the list of current child elements
                const TABLE_CHILD_ELEMENTS = document.getElementById('historyTableRowParent').getElementsByTagName('tr');
                childNodeIDs = [];

                //loop through the list of children nodes and get their ids
                for (index = 0;index < TABLE_CHILD_ELEMENTS.length;index++) {
                    
                    //append the current id to the list of child node ids
                    childNodeIDs.push(TABLE_CHILD_ELEMENTS[index].id);
                }
                
                //iterate through the rows
                for (row = 0;row < HISTORY_TABLE_ROWS.length;row++) {

                    //the data for the current row
                    currentRow = HISTORY_TABLE_ROWS[row]

                    //the id for the current row
                    currentRowID = String('historyTableRow_id' + String(currentRow[0]));

                    //create the row
                    rowParentElement = document.getElementById('historyTableRowParent');

                    //only create the element if the id doesnt exist
                    if (!childNodeIDs.includes(currentRowID)) {

                        //create the new table row element
                        rowChildElement = document.createElement('tr');
                        rowChildElement.id = currentRowID;
                    
                    //if the element already exists then make it empty
                    } else {

                        //change the content of the element to "" to get rid of the html inside
                        document.getElementById(currentRowID).innerHTML = '';
                    }

                    //create the children elements (find a way to make this less repeat-y)

                    rowChildElementChildTD1 = document.createElement('td'); //the download title
                    rowChildElementChildTD1.innerHTML = currentRow[1];

                    rowChildElementChildTD2 = document.createElement('td'); //the download link
                    rowChildElementChildTD2LinkChild = document.createElement('a'); //the actual link inside the download link column
                    rowChildElementChildTD2LinkChild.innerHTML = currentRow[2];
                    rowChildElementChildTD2LinkChild.href = currentRow[2];
                    rowChildElementChildTD2.appendChild(rowChildElementChildTD2LinkChild);

                    rowChildElementChildTD3 = document.createElement('td'); //the download status
                    rowChildElementChildTD3.innerHTML = DOWNLOAD_STATUSES[currentRow[3]]; //the text for the status
                    rowChildElementChildTD3.classList.add(DOWNLOAD_STATUS_COLOR_CLASSES[parseInt(currentRow[3])]); //the color class for the status

                    rowChildElementChildTD4 = document.createElement('td'); //the download time added to queue
                    videoAddedToQueueDate = new Date(currentRow[4] * 1000); //parse the timestamp of the date that the server returns
                    rowChildElementChildTD4.innerHTML = String(videoAddedToQueueDate.toString());

                    rowChildElementChildTD5 = document.createElement('td'); //the download format
                    rowChildElementChildTD5.innerHTML = currentRow[5];

                    rowChildElementChildTD6 = document.createElement('td'); //the download path
                    rowChildElementChildTD6.innerHTML = currentRow[6];

                    //the list of the children elements (so many children here its like elementary school all over again)
                    rowChildElementChildren = [
                        rowChildElementChildTD1,
                        rowChildElementChildTD2,
                        rowChildElementChildTD3,
                        rowChildElementChildTD4,
                        rowChildElementChildTD5,
                        rowChildElementChildTD6
                    ];

                    //append the children to their parent element
                    for (index in rowChildElementChildren) {

                        //if the element already doesnt exist then append the elements to the new parent
                        if (!childNodeIDs.includes(currentRowID)) {

                            //append the element
                            rowChildElement.appendChild(rowChildElementChildren[index]);
                        
                        //the element already exists, append the children to the existing element
                        } else {

                            //append the children
                            document.getElementById(currentRowID).appendChild(rowChildElementChildren[index]);
                        }
                    }

                    //append the new row element to the parent
                    rowParentElement.insertBefore(rowChildElement, rowParentElement.firstElementChild);

                    //append the current id to the list of child node ids
                    childNodeIDs.push(currentRowID);
                }
            }

        });
    }

    //wait for the document to load
    window.onload = function() {

        //run the refresh function once to load the page
        refreshHistory();

        //set the refresh function to run every 3 seconds
        window.setInterval(refreshHistory, 3000);
    }
</script>
{% endblock %}