{% extends 'layout.html' %}
{% block body %}
<div class = 'container d-flex flex-column text-light text-center'>
    <div class = 'flex-grow-1'></div>
    <div class = 'jumbotron bg-transparent flex-grow-1'>
        <h1 class = 'display-4'>youtube-dl</h1>
        <p class = 'lead'>Enter a video URL to download the video to the server (downloading to your computer will be included in a near future update). The video URL can be from YouTube, or <a class = 'text-info' href = 'https://rg3.github.io/youtube-dl/supportedsites.html'>any other supported site</a>. The server will automatically download the highest quality version available. You can use the advanced options to download a video through the browser.</p>
        <hr class = 'my-4'>
        <form action = '/queue' method = 'POST'>
            <div>
                <div class = 'input-group'>
                    <input name = 'url' type = 'url' class = 'form-control' placeholder = 'URL' aria-label = 'URL' aria-describedby = 'button-submit' autofocus>
                    <select class = 'custom-select' name = 'format'>
                        <optgroup label = 'Video'>
                            <option value = 'bestvideo'>Best Video (Works on YouTube)</option>
                            <option value = 'mp4'>MP4 (Works on YouTube)</option>
                            <option value = 'flv'>Flash Video (FLV)</option>
                            <option value = 'webm'>WebM</option>
                            <option value = 'ogg'>Ogg</option>
                            <option value = 'mkv'>Matroska (MKV)</option>
                            <option value = 'avi'>AVI</option>
                        </optgroup>
                        <optgroup label = 'Audio'>
                            <option value = 'bestaudio'>Best Audio (Works on YouTube)</option>
                            <option value = 'aac'>AAC</option>
                            <option value = 'flac'>FLAC</option>
                            <option value = 'mp3'>MP3</option>
                            <option value = 'm4a'>M4A (Works on YouTube)</option>
                            <option value = 'opus'>Opus</option>
                            <option value = 'vorbis'>Vorbis</option>
                            <option value = 'wav'>WAV</option>
                        </optgroup>
                    </select>
                    <div class = 'input-group-append'>
                        <button class = 'btn btn-primary' type = 'submit' id = 'button-submit'>Submit</button>
                    </div>
                </div>
            </div>
            <hr class = 'my-4'>
            <button class = 'btn btn-dark' type = 'button' data-toggle = 'collapse' data-target = '#advancedOptionsCollapsableDiv' aria-expanded = 'false' aria-controls = 'advancedOptionsCollapsableDiv'>View advanced options</button>
            <hr class = 'my-4'>
            <div class = 'collapse' id = 'advancedOptionsCollapsableDiv'>
                <div class = 'row justify-content-center'>
                    <p class = 'col-lg-6 my-auto'>What folder do you want the video to download to?</p>
                    <select class = 'custom-select col-lg-6' name = 'directory'>
                        <option value = '{{ DEFAULT_VIDEO_DOWNLOAD_DIR }}'>Default download folder</option>
                        <option value = '#browser2computer'>Download through the browser to my computer</option>
                        {% for file in downloadDirs %}
                            <option value = '{{ file }}'>{{ file }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class = 'row justify-content-center'>
                    <p class = 'col-lg-6 my-auto'>What order do you want the videos downloaded in?</p>
                    <select class = 'custom-select col-lg-6' name = 'order'>
                        <option value = 'normal'>The normal order</option>
                        <option value = 'random'>A random order</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <footer>
    <div>
        <p class = 'text-muted'>
            Web frontend for <a class = 'text-light' href = 'https://rg3.github.io/youtube-dl/'>youtube-dl</a>, by <a class = 'text-light' href = 'https://twitter.com/manbearwiz'>@manbearwiz</a>, and modified by <a class = 'text-light' href = 'https://github.com/katznboyz1'>@katznboyz</a>.<br>
            <a class = 'text-light' href = "{{ url_for('WEB_INDEX') }}">(HOME)</a> - <a class = 'text-light' href = "{{ url_for('WEB_HISTORY') }}">(HISTORY)</a> - <a class = 'text-light' href = "{{ url_for('WEB_LOGOUT') }}">(LOG OUT)</a> - <a class = 'text-light' href = "{{ url_for('WEB_ADMIN') }}">(ADMIN)</a>
        </p>
    </div>
    </footer>
</div>
{% endblock %}