{% extends 'layout.html' %}
{% block body %}
<div class = 'loginFormWrapper'>
    <div id = 'loginFormParent'>
        <img class = 'loginFormMargin' id = 'loginFormImage' src = "{{ url_for('static', filename = '/favicon.png') }}">
        <p class = 'loginFormMargin'>Log In</p>
        <form id = 'loginForm' action = "{{ url_for('WEB_AUTH') }}" method = 'post'>
            <input class = 'loginPageEntry' type = 'text' placeholder = 'Username' name = 'username'/>
            <input class = 'loginPageEntry' type = 'password' placeholder = 'Password' name = 'password'/>
            <input class = 'loginPageSubmit' type = 'submit' value = 'Log In'/>
        </form>
        <div id = 'loginFormChildFooter'>
            {% if showRegistrationPage %}
                <a href = "{{ url_for('WEB_REGISTER') }}">Register a new account here</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}