{% extends 'layout.html' %}
{% block body %}
<div class = 'loginFormWrapper'>
    <div id = 'loginFormParent'>
        <p class = 'loginFormMargin'>Register a New Account</p>
        <form id = 'loginForm' action = "{{ url_for('WEB_REGNEWUSER') }}" method = 'post'>
            <input class = 'loginPageEntry' type = 'text' placeholder = 'Username' name = 'new_username'/>
            <input class = 'loginPageEntry' type = 'password' placeholder = 'Password' name = 'new_password'/>
            <input class = 'loginPageEntry' type = 'password' placeholder = 'Confirm Password' name = 'new_password_confirm'/>
            <input class = 'loginPageEntry' type = 'text' placeholder = 'Registration Key' name = 'registration_key' value = '{{ registration_key }}'/>
            <input class = 'loginPageSubmit' type = 'submit' value = 'Register Account'/>
        </form>
    </div>
</div>
{% endblock %}